<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>UWH Heroes</title>

	<!-- CSS -->
	<link rel="stylesheet" href="../../../static/css/sanitize.css">
    <link rel="stylesheet" href="../../../static/css/heroes-flex.css">
    <link rel="stylesheet" href="../../../static/uwh/sport-uwh.css">
    <link href="https://fonts.googleapis.com/css?family=Exo:400,700|Roboto 200,400,500" rel="stylesheet">

</head>

<body>

<!-- CONTENT -->
	<div class="hero flexc">
		<div class="heroheader flexr">
			<div class="left">
				<a href="#countries-blade">countries</a>
				<a href="#contact-blade">contact</a>
			</div>
			<!-- <div class="left"><a href="#contact-blade">contact</a></div> -->
			<div class="middle">
				<img src="../../../static/uwh/uwhheroes-logo.svg" alt="Underwater Hockey Heroes logo">
			</div>
			<!-- <div class="right"><a href="#">add your country</a></div> -->
		</div>
		<div class="heroimage flexchild g"></div>
		<div class="attribution"><a href="">Image courtesy of Camilo Diaz</a></div>
		<div class="herobody">
			<h1>Underwater Hockey Heroes</h1>
			<h4>Home to the greatest Underwater Hockey Athletes from around the world</h4>
		</div>

	</div>
	<div class="blade flexc jc">
		<a name="countries-blade"></a>
		<div class="container title">
			<h2>countries</h2>
		</div>
		<div class="container countries">
			<div class="country-list flexr w">
				<div class="country">
					<a href="">
						<div><img src="../../../static/uwh/flag/BEL.png"></div>
						<h6>Belguim</h6>
					</a>
				</div>
				<div class="country">
					<a href="http://uwhheroes.co.nz">
						<div><img src="../../../static/uwh/flag/NZL.png"></div>
						<h6>New Zealand</h6>
					</a>
				</div>
			</div>
		</div>
	</div>
	<div class="bggrey blade flexc jc">
		<a name="contact-blade"></a>
		<div class="container title">
			<h2>contact</h2>
		</div>
		<div class="container contact">
			<a href="mailto:zoe@uwh.co.nz">Get in touch </a>if you would like to join UWH Heroes
		</div>
	</div>
</body>
</html>