<html>
<head>
    <meta charset="utf-8">
    <title>Sports heroes</title>
    <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <!-- <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes-flex.css">
        <link rel="stylesheet" href="/static/css/nzl-home.css"> -->

        <!-- Add reletive paths for local testing -->
        <link rel="stylesheet" href="../../static/css/sanitize.css">
        <link rel="stylesheet" href="../../static/css/heroes-flex.css">
        <link rel="stylesheet" href="../../static/css/nzl-home.css">
    </head>
    <body>
        <header>
            <img src="../../static/img/uwh-fern-rev.svg" />
            <h1>New Zealand<br />Underwater Hockey Teams</h1>
        </header>
        
        <main>
         <section class="team">
             <div class="team-title">
                 <h2>Elite Men</h2>
                 <p>2018 World Championships</p>
                 <p>Quebec, Canada</p>
                 <p>July 12, 2018</p>
             </div>

             <div class="team-photo-grid">

                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/ralph.png">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/floydpepper.jpg">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                 <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/ralph.png">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/floydpepper.jpg">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>

            </div>
        </section>



        <section class="team">
             <div class="team-title">
                 <h2>Elite Women</h2>
                 <p>2018 World Championships</p>
                 <p>Quebec, Canada</p>
                 <p>July 12, 2018</p>
             </div>

             <div class="team-photo-grid">

                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/ralph.png">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/floydpepper.jpg">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                 <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/ralph.png">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>
                <div class="grid-item">
                    <div class="item-photo">
                        <div class="image-holder">
                            <img src="../../static/img/floydpepper.jpg">
                        </div>
                    </div>
                    <div class="item-caption">
                        <p class="player-name">Player Name</p>
                        <p class="player-role">Player Role</p>
                    </div>
                </div>

            </div>
        </section>

    </main>
</body>    
</html>
