<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="bs01.css" rel="stylesheet">

    <title>Spain : Underwater Hockey : Sports Heroes</title>
  </head>
  <body>



<!-- HEADER ======================== -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="#">🇪🇸 Underwater Hockey - Spain</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sh-navbarToggler" aria-controls="sh-navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="sh-navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teams
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Elite Men</a>
            <a class="dropdown-item" href="#">Elite Women</a>
            <a class="dropdown-item" href="#">Under 21 Men</a>
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>



<!-- MAIN ======================== -->
<main role="main">

<!-- HERO .................... -->
<section class="jumbotron text-center">
  <div class="container">
    <p class="heroflag">🇪🇸</p>
    <h1 class="jumbotron-heading">Spanish Underwater Hockey Teams</h1>
    <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
  </div>
</section>

<!-- ALBUM .................... -->
<div class="album py-5 bg-light">
  <div class="container">
    <h6>Latest Teams</h6>
    <hr />

    <!-- TEAM -->
    <h3><a href="#">NZL Elite Men</a></h3>
    <p>2018 World Championships<br/>Quebec, Canada<br/>22 June 2020</p>
    <div class="row">
      <!-- Item -->
      <div class="col-md-4">
        <a href="#" class="player-link-card">
          <div class="card mb-4 shadow-sm">
            <img src="img/ralph.png" class="card-img-top">
            <div class="card-body">
              <h6>Sebastian IveGottareal</h6>
              <small>Player/Coach - Forward</small>
            </div>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="col-md-4">
        <a href="#" class="player-link-card">
          <div class="card mb-4 shadow-sm">
            <img src="img/ralph.png" class="card-img-top">
            <div class="card-body">
              <h6>Sebastian IveGottareal</h6>
              <small>Player/Coach - Forward</small>
            </div>
          </div>
        </a>
      </div>
    </div>

    <!-- TEAM -->
    <hr/>
    <h3>NZL Elite Women</h3>
    <p>2018 World Championships<br/>Quebec, Canada<br/>22 June 2020</p>
    <div class="row">
      <!-- Item -->
      <div class="col-md-4">
        <a href="#" class="player-link-card">
          <div class="card mb-4 shadow-sm">
            <img src="img/ralph.png" class="card-img-top">
            <div class="card-body">
              <h6>Sebastian IveGottareal</h6>
              <small>Player/Coach - Forward</small>
            </div>
          </div>
        </a>
      </div>

      <!-- Item -->
      <div class="col-md-4">
        <a href="#" class="player-link-card">
          <div class="card mb-4 shadow-sm">
            <img src="img/ralph.png" class="card-img-top">
            <div class="card-body">
              <h6>Sebastian IveGottareal</h6>
              <small>Player/Coach - Forward</small>
            </div>
          </div>
        </a>
      </div>
    </div>


  </div>
</div>


<!-- FOOTER ======================== -->
<footer class="text-muted">
  <div class="container">
    <p class="float-right">
      <a href="#">Back to top</a>
    </p>
    <p>This hall of fame is powered by <a href="#">Sports Heroes</a></p>
  </div>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>