html {
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    color: #444444;
    color: rgba(0, 0, 0, .8);
}

.content-container{
    display: flex;
    height: 100%;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
header h1{
    color: #999999;
    border: 3px solid #999999;
    font-weight: 300;
    letter-spacing: 2;
    font-size: 40px;
    border-radius: 30px;
    padding: 0px 30px 0px 30px;
    margin-top: 50px;
}
main{
    padding: 50px 0px 0px 30px;
    background-image: url(/static/img/greydot);
    background-repeat: repeat-y;
    background-position: 50 0;
}
.timeline-year{
    display: flex;
    background: none;
}
.timeline-year label{
    height: 27px;
    width: 60px;
    text-align: center;
    padding-top: 2px;
    background-color: #999999;
    color: #ffffff;
    font-weight: 300;
    letter-spacing: 1;
    font-size: 16px;
    border-radius: 30px;
}

.events{
    margin-left: 20px;
}
.event-entry{
    margin-bottom: 20px;
}
.division{
    text-transform: uppercase;
    font-weight: 500
}
.venue,
.role-pos{
    font-size: 14px;
    color: #999999;
}





