html {
}
body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #444444;
    display: flex;
    flex-direction: column;
    width: 90vw;
    margin: auto;
    color: rgba(0, 0, 0, .8);
}

header{
    margin: 40px 8px 40px 8px;
}
h1{
    text-align: center;
    font-weight: 500;
    font-size: 5vw;
    text-transform: uppercase;
    letter-spacing: 1.8;
    line-height: 5vw;
}

h2{
    margin: 0px 0px 15px 7px;
    font-size: 18px;
}
h2.subtitle{
    text-align: center;
    font-size: 22px;
}
.people h2{
    width: 100%;
    text-align: center;
}


a{
    color: rgba(0, 0, 0, .3);
}
a:hover{
    color: rgba(0, 0, 0, 1);
}
main{
    width: 100%;
    justify-content: center;
}

main.country{
    display: flex;
}
.teams{
    border-right: 1px solid #CCCCCC;
    margin-right: 20px;
    padding-right: 20px;
    flex-shrink: 0;
}
.people{
}
.teams ul{
    flex-direction: column;
}


main ul{
    display: flex;
    flex-wrap: wrap;
    list-style-type: none;
    justify-content: center;
}
main ul li{
    margin: 0px 8px 5px 8px;
}
li a{
    color: rgba(0, 0, 0, .5);
    font-weight: 400;
    font-size: 16px;
}

