<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% for crumb in breadcrumb %}
                        <li><a href="{{ crumb.link }}">{{ crumb.title }}&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>
                        {% if country_object %} {{ country_object.flagemoji }} {% endif %}
                        {{ object_title }}
                    </h1>
                </div>
                
                 {% if country_object %}
                <form name="countryForm" action="/admin/country/update/{{ country_object.key.urlsafe() }}" method=post>
                    <label>country name</label>
                    <input type="text" name="countryName" value="{{ country_object.name }}">
                    <label>country code (3 char)</label>
                    <input type="text" name="countryCode" value="{{ country_object.code }}">
                    <label>flag emoji</label>
                    <input type="text" name="flagEmoji" value="{{ country_object.flagemoji }}">
                    <br /><br />
                    <input type="checkbox" name="publishCountry" value="published" 
                        {% if country_object.published %} checked {% endif %} 
                    >Publish this country<br>
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl" value="{{ country_object.external_url }}">
                    <button type="submit">Save</button>
                </form>
                
                {% else %}
                <form name="countryForm" action="/admin/country/add/{{ sport_object.key.urlsafe() }}" method=post>
                    <label>country name</label>
                    <input type="text" name="countryName">
                    <label>country code (3 char)</label>
                    <input type="text" name="countryCode">
                    <label>flag emoji</label>
                    <input type="text" name="flagEmoji">
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl">
                    <button type="submit">Save</button>
                </form>
                {% endif %}
                
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Teams</h3>
<!--                    No '+'. Teams created automatically on DIVISION or COUNTRY creation-->
                </div>
                <ul class="standardList">
                    {% for team in teams %}
                    <li><a href="{{ team.link }}">{{ team.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Representatives</h3>
                    {% if country_object %}
                    <a href="/admin/rep/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for rep in reps %}
                    <li><a href="{{ rep.link }}">{{ rep.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Roles</h3>
                    {% if country_object %}
                    <a href="/admin/role/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for role in roles %}
                    <li><a href="{{ role.link }}">{{ role.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Positions</h3>
                    {% if country_object %}
                    <a href="/admin/position/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for position in positions %}
                    <li><a href="{{ position.link }}">{{ position.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            
    </body>
</html>