<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes-flex.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% for crumb in breadcrumb %}
                        <li><a href="{{ crumb.link }}">{{ crumb.title }}&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>
                        {% if country_object %} {{ country_object.flagemoji }} {% endif %}
                        {{ object_title }}
                    </h1>
                </div>

                <!-- COUNTRY FORM -->
                
                 {% if country_object %}
                <form name="countryForm" action="/admin/country/update/{{ country_object.key.urlsafe() }}" method=post>
                    <label>country name</label>
                    <input type="text" name="countryName" value="{{ country_object.name }}">
                    <label>country code (3 char)</label>
                    <input type="text" name="countryCode" value="{{ country_object.code }}">
                    <label>flag emoji</label>
                    <input type="text" name="flagEmoji" value="{{ country_object.flagemoji }}">
                    <br /><br />
                    <input type="checkbox" name="publishCountry" value="published" 
                        {% if country_object.published %} checked {% endif %} 
                    >Publish this country<br>
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl" value="{{ country_object.external_url }}">
                    <button type="submit">Save</button>
                </form>

                <br />

                <!-- TEMPLATE -->
                <p class="tiny">
                    {% if templates.country %}
                    <a href="/admin/template/{{ templates.country.key.urlsafe() }}" target="_blank">Edit Country template</a>
                    {% else %}
                    <a href="/admin/template/create/country/{{ country_object.key.urlsafe() }}" target="_blank">Create custom Country template</a>
                    {% endif %}
                </p>

                
                {% else %}
                <form name="countryForm" action="/admin/country/add/{{ sport_object.key.urlsafe() }}" method=post>
                    <label>country name</label>
                    <input type="text" name="countryName">
                    <label>country code (3 char)</label>
                    <input type="text" name="countryCode">
                    <label>flag emoji</label>
                    <input type="text" name="flagEmoji">
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl">
                    <button type="submit">Save</button>
                </form>
                {% endif %}
                
            </div>

            
            
            <!-- TEAMS -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Teams</h3>
<!--                    No '+'. Teams created automatically on DIVISION or COUNTRY creation-->
                </div>
                <ul class="standardList">
                    {% for team in teams %}
                    <li><a href="{{ team.link }}">{{ team.title }}</a></li>
                    {% endfor %} 
                </ul>

                <br />

                <!-- TEMPLATE -->
                <p class="tiny">
                    {% if templates %}
                    {% if templates.team %}
                    <a href="/admin/template/{{ templates.team.key.urlsafe() }}" target="_blank">Edit Team template</a>
                    {% else %}
                    <a href="/admin/template/create/team/{{ country_object.key.urlsafe() }}" target="_blank">Create custom Team template</a>
                    {% endif %}
                    {% endif %}
                </p>

            
            </div>
            
            <!-- REPS -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Representatives</h3>
                    {% if country_object %}
                    <a href="/admin/rep/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for rep in reps %}
                    <li><a href="{{ rep.link }}">{{ rep.title }}</a></li>
                    {% endfor %} 
                </ul>

                <br />
                <!-- TEMPLATE -->
                <p class="tiny">
                    {% if templates %}
                    {% if templates.rep %}
                    <a href="/admin/template/{{ templates.rep.key.urlsafe() }}" target="_blank">Edit Rep template</a>
                    {% else %}
                    <a href="/admin/template/create/rep/{{ country_object.key.urlsafe() }}" target="_blank">Create custom Representative template</a>
                    {% endif %}
                    {% endif %}
                </p>
            </div>
            
            <!-- ROLES -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Roles</h3>
                    {% if country_object %}
                    <a href="/admin/role/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for role in roles %}
                    <li><a href="{{ role.link }}"> {{ role.sort }}: {{ role.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>

            <!-- POSITIONS -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Positions</h3>
                    {% if country_object %}
                    <a href="/admin/position/new/{{ country_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for position in positions %}
                    <li><a href="{{ position.link }}">{{ position.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>

            <!-- FILES -->
            {% if country_object %}
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Files</h3>
                </div>
                <p class="tiny">Files used in templates, eg: .css files or template images. Please limit to 1MB max. WARNING: Files are not backed up</p>
                <ul class="standardList fileList">
                    {% for f in fileList %}
                        <li class="flexr sb fileCard">
                            <a href="{{ f.filepath }}" target="_blank">{{ f.basename }}</a>
                            <a href="/admin/country/deletefile/{{ country_object.key.urlsafe() }}/{{ f.basename }}" class="fileDelete"><i class="fa fa-trash"></i></a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- UPLOAD FILE FORM -->
                <form action="/admin/country/uploadfile/{{ country_object.key.urlsafe() }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploaded-file">
                    <button type="submit">Upload</button>
                </form>
            
            </div>
            {% endif %}
            
            
    </body>
</html>