<!DOCTYPE html>
{% autoescape true %}
<html>
<head>
	<link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
</head>
<body>
	<h1>ADMIN</h1>
	<div>
		<h2>
			{% if sport %}Update Sport{% else %}Create Sport{% endif %}
		</h2>

		{% if sport %}

		<form action="/admin/updateSport" method="post">
			<div>Sport name<input name="sport_title" value="{{ sport.title }}"></div>
			<div>Sport description<textarea name="sport_description" rows="3" cols="60">{{ sport.description }}</textarea></div>
			<div><input type="hidden" name="sport_keystring" value="{{ sport.key.urlsafe() }}"></div>
			<div><input type="submit" value="Update Sport"></div>
		</form>

		<div><a href="/admin/deleteSport?sport_keystring={{ sport.key.urlsafe() }}">Delete</a></div>

		{% else %}

		<form action="/admin/updateSport" method="post">
			<div>Sport name<input name="sport_title"></div>
			<div>Sport description<textarea name="sport_description" rows="3" cols="60"></textarea></div>
			<div><input type="submit" value="Create Sport"></div>
		</form>

		{% endif %}

	</div>
	<div><a href="/admin">Cancel</a></div>
</body>
</html>
{% endautoescape %}