<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home</a></li>
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>{{ objectTitle }}</h1>
                </div>
                
                
                {% if sportObject %}
                <form name="sportForm" action="/admin/sport/update/{{ sportObject.key.urlsafe() }}" method=post>
                    <label>sport name</label>
                    <input type="text" name="sportName" value="{{ sportObject.name }}">
                    <label>sport code</label>
                    <input type="text" name="sportCode" value="{{ sportObject.code }}">
                    <br /><br />
                    <input type="checkbox" name="publishSport" value="published" 
                        {% if sportObject.published %} checked {% endif %} 
                    >Publish this sport<br>
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl" value="{{ sportObject.external_url }}">
                    <button type="submit">Save</button>
                </form>
                
                {% else %}
                <form name="sportForm" action="/admin/sport/add" method=post>
                    <label>sport name</label>
                    <input type="text" name="sportName">
                    <label>sport code</label>
                    <input type="text" name="sportCode"">
                    <label>External URL entrypoint</label>
                    <input type="text" name="externalUrl">
                    <button type="submit">Save</button>
                </form>
                {% endif %}
                
            </div>
            <div class="listContainer">
                
                <div class="listTitle">
                    <h3>Countries</h3>
                    {% if sportObject %}
                    <a href="/admin/country/new/{{ sportObject.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                
                <ul class="standardList">
                    {% for country in countries %}
                    <li><a href="{{ country.link }}">{{ country.flagemoji }} {{ country.name }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Events</h3>
                    {% if sportObject %}
                    <a href="/admin/event/new/{{ sportObject.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                
                <ul class="standardList">
                    {% for event in events %}
                    <li><a href="{{ event.link }}">{{ event.title }}</a></li>
                    {% endfor %} 
                </ul>
            
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Divisions</h3>
                    {% if sportObject %}
                    <a href="/admin/division/new/{{ sportObject.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for division in divisions %}
                    <li><a href="{{ division.link }}">{{ division.name }}</a></li>
                    {% endfor %} 
                </ul>
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Venues</h3>
                    {% if sportObject %}
                    <a href="/admin/venue/new/{{ sportObject.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for venue in venues %}
                    <li><a href="{{ venue.link }}">{{ venue.name }}</a></li>
                    {% endfor %}
                </ul>
            
            </div>

            <div class="listContainer">
                <div class="listTitle">
                    <h3>Trophies</h3>
                    {% if sportObject %}
                      <a href="/admin/trophy/new/{{ sportObject.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <ul class="standardList">
                    {% for trophy in trophies %}
                    <li><a href="{{ trophy.link }}">{{ trophy.name }}</a></li>
                    {% endfor %}
                </ul>
            
            </div>


            <!-- ----------------------- -->

            {% if sportObject %}
            <!-- TEMPLATES -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Templates</h3>
                </div>
                <ul class="standardList">

                {% if templates %}
                <!-- Sport -->
                <li>
                    {% if templates.sport %}
                    <a href="/admin/template/{{ templates.sport.key.urlsafe() }}" target="_blank">Edit Sport template</a>
                    {% else %}
                    <a href="/admin/template/create/sport/{{ sportObject.key.urlsafe() }}" target="_blank">Add Sport template</a>
                    {% endif %}
                </li>
                <!-- Country -->
                <li>
                    {% if templates.d_country %}
                    <a href="/admin/template/{{ templates.d_country.key.urlsafe() }}" target="_blank">Edit Country template</a>
                    {% else %}
                    <a href="/admin/template/create/d_country/{{ sportObject.key.urlsafe() }}" target="_blank">Add Country template</a>
                    {% endif %}
                </li>
                <!-- Team -->
                <li>
                    {% if templates.d_team %}
                    <a href="/admin/template/{{ templates.d_team.key.urlsafe() }}" target="_blank">Edit Team template</a>
                    {% else %}
                    <a href="/admin/template/create/d_team/{{ sportObject.key.urlsafe() }}" target="_blank">Add Team template</a>
                    {% endif %}
                </li>
                <!-- Representative -->
                <li>
                    {% if templates.d_rep %}
                    <a href="/admin/template/{{ templates.d_rep.key.urlsafe() }}" target="_blank">Edit Rep template</a>
                    {% else %}
                    <a href="/admin/template/create/d_rep/{{ sportObject.key.urlsafe() }}" target="_blank">Add Rep template</a>
                    {% endif %}
                </li>
                {% endif %}



                </ul>
            
            </div>

            <!-- FILES -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Files</h3>
                </div>
                <p class="tiny">Files used in templates, eg: .css files or template images. Please limit to 1MB max. WARNING: Files are not backed up</p>
                <ul class="standardList fileList">
                    {% for f in fileList %}
                        <li class="flexr sb fileCard">
                            <a href="{{ f.filepath }}" target="_blank">{{ f.basename }}</a>
                            <a href="/admin/sport/deletefile/{{ sportObject.key.urlsafe() }}/{{ f.basename }}" class="fileDelete"><i class="fa fa-trash"></i></a>
                        </li>
                    {% endfor %}
                </ul>
                <!-- UPLOAD FILE FORM -->
                <form action="/admin/sport/uploadfile/{{ sportObject.key.urlsafe() }}" method="post" enctype="multipart/form-data">
                    <input type="file" name="uploaded-file">
                    <button type="submit">Upload</button>
                </form>
            
            </div>
            {% endif %}
            
            
        </div>

    </body>
</html>
