<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% for crumb in breadcrumb %}
                        <li><a href="{{ crumb.link }}">{{ crumb.title }}&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>{{ team_object.key.parent().get().code }} {{ team_object.division.get().name }}</h1> <!-- TODO: add team.title to model -->
                </div>
                
                <form name="teamForm" action="/admin/team/update/{{ team_object.key.urlsafe() }}" method=post>
                    <label>team name</label>
                    <input type="text" name="teamName" value="{{ team_object.name }}">
                    <br /><br />
                    <input type="checkbox" name="showOnHomeCB" value="showOnHome" 
                        {% if team_object.show_on_home_page %} checked {% endif %} 
                    >Show latest squad on home page<br>
                    
                    <button type="submit">Save</button>
                </form>
                
            </div>

            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Squads</h3>
                </div>
                <!-- Created squads-->
                <ul class="standardList">
                    {% for event in event_squads %}
                        {% if event.squad %}
                        <li>
                            <a href="{{ event.squad.link }}">{{ event.squad.title }}</a>
                            <a href="/admin/squad/remove/{{ event.squad.key.urlsafe() }}">
                                <i class="fa fa-minus-circle minusmember"></i>
                            </a>
                        </li>
                        {% endif %}
                    {% endfor %}
                    <p class="tiny">&nbsp</p>
                    <p class="tiny">Delete all Squad Members before removing Squad<p>
                </ul>
                <!-- didnt play-->
                <ul class="standardList inactive">
                    {% for event in event_squads %}
                        {% if event.squad %}
                        <!-- do nothing-->
                        {% else %}
                        <li class="inactive">{{ event.event.title }}<a href="/admin/squad/add/{{ team_object.key.urlsafe() }}/{{ event.event.key.urlsafe() }}"><i class="fa fa-plus addmember"></i></i></a></li>
                        {% endif %}
                    {% endfor %}
                </ul>
            
            </div>
            

            
    </body>
</html>