
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <title>Edit code : Sports Heroes</title>

    <!-- Code Mirror -->
    <link href="/static/codemirror/lib/codemirror.css" rel="stylesheet">
    <script src="/static/codemirror/lib/codemirror.js"></script>
    <script src="/static/codemirror/addon/selection/selection-pointer.js"></script>
    <script src="/static/codemirror/mode/xml/xml.js"></script>
    <script src="/static/codemirror/mode/javascript/javascript.js"></script>
    <script src="/static/codemirror/mode/css/css.js"></script>
    <script src="/static/codemirror/mode/vbscript/vbscript.js"></script>
    <script src="/static/codemirror/mode/htmlmixed/htmlmixed.js"></script>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Bootstrap JS -->


    <!-- Custom styles for this template -->
    <link href="/static/css/editor.css" rel="stylesheet">
  </head>
<body>

  <header>
    <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
      {% if country %}
          <a href="#" class="navbar-brand">{{ sport.title }} : {{ country.flagemoji}} {{ country.name }}</a>
      {% else %}
          <a href="#" class="navbar-brand">{{ sport.title }}</a>
      {% endif %}
          <a href="#" class="navbar-brand">Template: {{ template.label }}</a>

          <div class=" navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">
              <!-- <li class="nav-item active">
              </li> -->
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">more</a>
                <div class="dropdown-menu">
                  <a class="dropdown-item" href="/admin/template/delete/{{ template.key.urlsafe() }}">Delete template</a>
                </div>
              </li>
            </ul>

            <button class="btn btn-success my-2 my-sm-0" type="submit" onClick="formSubmit()">Save</button>

          </div>
        </nav>
  </header>

  <main>
    <form name="codeForm" action="/admin/template/save/{{ template.key.urlsafe() }}" method=post>
      <textarea id="code" name="code">{{ template.content }}</textarea>
    </form>
  </main>


  <script>
    // Define an extended mixed-mode that understands vbscript and
    // leaves mustache/handlebars embedded templates in html mode
    var mixedMode = {
      name: "htmlmixed",
      scriptTypes: [{matches: /\/x-handlebars-template|\/x-mustache/i,
                     mode: null},
                    {matches: /(text|application)\/(x-)?vb(a|script)/i,
                     mode: "vbscript"}]
    };
    var editor = CodeMirror.fromTextArea(document.getElementById("code"), {
      mode: mixedMode,
      selectionPointer: true
    });

  </script>
  <script type="text/javascript">

    // Submit the form 
    function formSubmit(){
      document.codeForm.submit();
    } 


  </script>

    <!-- BOOTSTRAP Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>


    
</body>
</html>
