<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <!-- Custom styles for this template -->
    <link href="/static/css/sh-default.css" rel="stylesheet">

    <title>{{ country.name }} : {{ sport.name }} : Sports Heroes</title>
  </head>
  <body>



<!-- HEADER ======================== -->
<header>
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="
{% if country.external_url %}
    {{ country.external_url }}
{% else %}
    {{ country.publiclink }}
{% endif %}
    ">{{ country.flagemoji }} {{ sport.name }} - {{ country.name }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#sh-navbarToggler" aria-controls="sh-navbarToggler" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="sh-navbarToggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="
{% if country.external_url %}
    {{ country.external_url }}
{% else %}
    {{ country.publiclink }}
{% endif %}
          ">Home</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Teams
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for squad in squads %}
            <a class="dropdown-item" href="{{ squad.publiclink }}">
              {{ squad.divisionName }}
            </a>
            {% endfor %}
          </div>
        </li>
      </ul>
    </div>
  </nav>
</header>



<!-- MAIN ======================== -->
<main role="main">

<!-- HERO .................... -->
<section class="jumbotron text-center">
  <div class="container">
    <p class="heroflag">{{ country.flagemoji }}</p>
    <h1 class="jumbotron-heading">{{ country.name }} {{ sport.name }} Teams</h1>
    <!-- <p class="lead text-muted">Something short and leading about the collection below—its contents, the creator, etc. Make it short and sweet, but not too short so folks don’t simply skip over it entirely.</p> -->
  </div>
</section>

<!-- ALBUM .................... -->
<div class="album py-5 bg-light">
  <div class="container">
    <h6>Latest Teams</h6>

{% for heroSquad in heroSquads %}
    <hr />
    <h3><a href="{{ heroSquad.squad.publiclink }}">{{ heroSquad.squad.teamName }}</a></h3>
    <p>{{ heroSquad.squad.title }}<br/>{{ heroSquad.squad.eventHost}}<br />{{ heroSquad.squad.eventdate.strftime('%-d %B %Y') }}</p>

    <div class="row">
  {% for sm in heroSquad.squad_members %}
      <!-- Item -->
      <div class="col-md-4">
        <a href="{{ sm.replink }}" class="player-link-card">
          <div class="card mb-4 shadow-sm">
            <img src="{{ sm.photoUrl }}" class="card-img-top">
            <div class="card-body">
              <h6>{{ sm.title }}</h6>
              <small>{{ sm.roleName }} - {{ sm.positionName }}</small>
            </div>
          </div>
        </a>
      </div>
  {% endfor %}
  </div>
{% endfor %}


</div>


<!-- FOOTER ======================== -->
<footer class="text-muted">
  <div class="container">
    <small>This hall of fame is powered by <a href="http://sportsheroes.net">Sports Heroes</a></small>
  </div>
</footer>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>