<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/">Home : </a></li>
                        {% if event_object %}
                        <li><a href="{{ event_object.key.parent().get().link }}">{{ event_object.key.parent().get().name }}</a></li>
                        {% else %}
                        <li><a href="{{ sport_object.link }}">{{ sport_object.name }}</a></li>
                        {% endif %}
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>{{ object_title }}</h1>
                </div>
                
                 {% if event_object %}
                <form name="eventForm" action="/event/update/{{ event_object.key.urlsafe() }}" method=post>
                    <label>event name</label>
                    <input type="text" name="eventName" value="{{ event_object.name }}">
                    <label>start date</label>
                    <input type="date" name="startDate" value="{{ event_object.startdatestring }}">
                    <button type="submit">Save</button>
                </form>
                
                {% else %}
                <form name="eventForm" action="/event/add/{{ sport_object.key.urlsafe() }}" method=post>
                    <label>event name</label>
                    <input type="text" name="eventName">
                    <label>start date</label>
                    <input type="date" name="startDate">
                    <button type="submit">Save</button>
                </form>
                {% endif %}
                
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Matches</h3>
                    {% if event_object %}
                    <a href="/match/new/{{ event_object.key.urlsafe() }}"><i class="fa fa-plus"></i></a>
                    {% endif %}
                </div>
                <table>
                    <tr>
                        <th>date</th>
                        <th>division</th>
                        <th>c1</th>
                        <th></th>
                        <th>c2</th>
                    </tr>
                    {% for match in matches %}
                    <tr>
                        <td>{{ match.datestring }}</td>
                        <td>{{ match.division.get().name }}</td>
                        <td>{{ match.country1.get().code }}</td>
                        <td>vs</td>
                        <td>{{ match.country2.get().code }}</td>
                        <td><button onclick="window.location='{{ match.link }}';">view</button></td>
                    </tr>
                    {% endfor %}
                </table>
            
            </div>
    </body>
</html>