<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% for crumb in breadcrumb %}
                        <li><a href="{{ crumb.link }}">{{ crumb.title }}&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        {% endfor %}
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>{{ object_title }}</h1>
                </div>
                
                {% if match_object %}
                <form name="matchForm" action="/admin/match/update/{{ match_object.key.urlsafe() }}" method=post>
                    <label>match date</label>
                    <input type="date" name="matchdate" value="{{ match_object.dateAsQuebec }}">
                    
                    <label>start time date</label>
                    <input type="time" name="matchstarttime" value="{{ match_object.timeAsQuebec }}">
                    
                    <label>venue</label>
                    <select name="matchvenue">
<!--                        <option value="{{ match_object.venue.urlsafe() }}">{{ match_object.venue.get().name }}</option>-->
                        {% for venue in venues %}
                        <option value="{{ venue.key.urlsafe() }}"
                                {% if match_object.venue.urlsafe() == venue.key.urlsafe() %} selected="selected" {% endif %}
                                >{{ venue.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>division</label>
                    <select name="matchdivision">
                        {% for division in divisions %}
                        <option value="{{ division.key.urlsafe() }}"
                                {% if match_object.division.urlsafe() == division.key.urlsafe() %} selected="selected" {% endif %}
                                >{{ division.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country one</label>
                    <select name="matchcountry1">
                        {% for country in countries %}
                        <option value="{{ country.key.urlsafe() }}"
                                {% if match_object.country1.urlsafe() == country.key.urlsafe() %} selected="selected" {% endif %}
                                >{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country one score</label>
                    <input name="c1score" type="number" min="0" value="{{ match_object.country1score }}"/>
                    
                    <label>country two</label>
                    <select name="matchcountry2">
                        {% for country in countries %}
                        <option value="{{ country.key.urlsafe() }}"
                                {% if match_object.country2.urlsafe() == country.key.urlsafe() %} selected="selected" {% endif %}
                                >{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country two score</label>
                    <input name="c2score" type="number" min="0" value="{{ match_object.country2score }}"/>
                    
                    <button type="submit">Save</button>
                </form>
                
                {% else %}
                <form name="matchForm" action="/admin/match/add/{{ event_object.key.urlsafe() }}" method=post>
                    <label>match date</label>
                    <input type="date" name="matchdate" value="{{ event_object.startdatestring }}">
                    <label>start time date</label>
                    <input type="time" name="matchstarttime" value="09:42">
                    
                    <label>venue</label>
                    <select name="matchvenue">
                        {% for venue in venues %}
                        <option value="{{ venue.key.urlsafe() }}">{{ venue.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>division</label>
                    <select name="matchdivision">
                        {% for division in divisions %}
                        <option value="{{ division.key.urlsafe() }}">{{ division.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country one</label>
                    <select name="matchcountry1">
                        {% for country in countries %}
                        <option value="{{ country.key.urlsafe() }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country one score</label>
                    <input name="c1score" type="number" min="0"/>
                    
                    <label>country two</label>
                    <select name="matchcountry2">
                        {% for country in countries %}
                        <option value="{{ country.key.urlsafe() }}">{{ country.name }}</option>
                        {% endfor %}
                    </select>
                    
                    <label>country two score</label>
                    <input name="c2score" type="number" min="0"/>
                    
                    <button type="submit">Save</button>
                </form>
                {% endif %}
                
            </div>
    </body>
</html>