{% extends "base.html" %}
{% block navigation %}
    {% if root_item %}
    <a class="navbar-brand" href="{{ root_item.link }}">{{ root_item.name }}</a>
    {% endif %}
{% endblock %}
{% block content %}
 <div class="col-lg-6 col-lg-offset-3">
    <table class="table">
	<thead>
		<tr>
			{% for header in table_headers %}
			<th>{{ header }}</th>
			{% endfor %}
		</tr>
	</thead>
	<tbody>
		{% for item in items %}
		<tr>
		    {% for field in fields %}
            <td> {{ item[field] }}</td>
            {% endfor %}
            <td><a href="{{ item.link }}" class="btn btn-info">View</a></td>
        </tr>
        {% endfor %}
	</tbody>
    </table>
</div>
{% endblock %}