<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Heroes</a>
    </div>
    <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav">
        </ul>
        <ul class="nav navbar-nav navbar-right">
            <li>
                <% if (!user.user_id) { %>
                    <a href="<%= user.login_url %>" id='login'>
                        <span class="glyphicon glyphicon-log-in"></span> Login
                    </a>
                <% } else {  %>
                    <a href="<%= user.logout_url %>" id='login'>
                        <span class="glyphicon glyphicon-log-out"></span> Logout
                    </a>
                <% } %>
            </li>
        </ul>
    </div>
    </div>
</nav>

<div class="container">
    <div class="starter-template">
        <h1>Heroes</h1>
        <p class="lead">Use this document as a way to quickly start any new project.<br> All you
get is this text and a mostly barebones HTML document.</p>
    </div>
</div>
