<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes-public.css">
    </head>
    <body class="background-image">
        <header>
            <h1>{{ pagetitle }}</h1>
        </header>
        
        <main class="country">
            <div class="teams">
                <h2>TEAMS</h2>
                <ul>
                    {% for team in teamlist %}
                    <li><a href="{{ team.publiclink }}">{{ team.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
            <div class="people">
                <h2>HEROES</h2>
                <ul>
                    {% for item in itemlist %}
                    <li><a href="{{ item.publiclink }}">{{ item.title }}</a></li>
                    {% endfor %}
                </ul>
            </div>
            
        </main>
    </body>    
</html>
