<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes-profile.css">
    </head>
    <body>
        <div class="content-container">
            <div class="content">
                
                <header>
                    <h1>Benson Taylor</h1><!--rep.title-->
                </header>


                <main>
                    <!--SQUADS-->
                    <div class="timeline-year">
                        <label>2014</label><!--squad.event.startdate.year-->
                        <div class="events">
                            <div class="event-entry">
                                <div class="division">Mens Elite</div><!--squad.division.title-->
                                <div class="event">2014 World Championships</div><!--squad.event.title-->
                                <div class="venue">Eger, Hungary</div><!--squad.event.match[0].venue-->
                                <div class="role-pos">Player / Forward</div><!--squadmember.role+squadmember.position-->
                            </div>
                            <div class="event-entry">
                                <div class="division">Mens Elite</div><!--squad.division.title-->
                                <div class="event">2014 World Championships</div><!--squad.event.title-->
                                <div class="venue">Eger, Hungary</div><!--squad.event.match[0].venue-->
                                <div class="role-pos">Player / Forward</div><!--squadmember.role+squadmember.position-->
                            </div>
                        </div>
                    </div>
                </main>
                
            </div>
        </div>
    </body>    
</html>
