<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes-public.css">
    </head>
    <body class="background-image">
        <header>
            <h1>{{ pagetitle }}</h1>
            <h2 class="subtitle">{{ subtitle }}</h2>
        </header>
        
        <main>

            <ul class="flexr jc w">
                {% for item in itemlist %}
                <li>
                    <a href="{{ item.publiclink }}">{{ item.title }}</a>
                    <img src="{{ item.photo_url }}"></img>
                </li>
                {% endfor %}
            </ul>
            
        </main>
    </body>    
</html>
