<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Sports heroes</title>
        <link href='https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/sanitize.css">
        <link rel="stylesheet" href="/static/css/heroes.css">
    </head>
    <body>
        
        <div id="contentParent">
            <div class="attributeContainer">
                <nav>
                    <ul>
                        <li><a href="/admin">Home&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                        <li><a href="">Underwater Hockey&nbsp;&nbsp;&nbsp;~&nbsp;&nbsp;</a></li>
                    </ul>
                </nav>
                <div class="objectTitle">
                    <h1>2015 Senior Mens World Championships</h1>
                </div>
                
                <form name="eventForm" action="" method=post>
                    <label>event name</label>
                    <input type="text" name="eventName" value="World Championships">
                    <label>start date</label>
                    <input type="date" name="startDate" value="2015-08-21">
                    <button type="submit">Save</button>
                </form>
                
            </div>
            
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Matches</h3>
                    <a href=""><i class="fa fa-plus"></i></a>
                </div>
                <table>
                    <tr>
                        <th>date</th>
                        <th>division</th>
                        <th>c1</th>
                        <th></th>
                        <th>c2</th>
                    </tr>
                    <tr>
                        <td>2015-08-21</td>
                        <td>Senior Men</td>
                        <td>NZL</td>
                        <td>vs</td>
                        <td>JPN</td>
                        <td><button>view</button></td>
                    </tr>
                    <tr>
                        <td>2015-08-21</td>
                        <td>Senior Men</td>
                        <td>FRA</td>
                        <td>vs</td>
                        <td>FJI</td>
                        <td><button>view</button></td>
                    </tr>
                    <tr>
                        <td>2015-08-21</td>
                        <td>Senior Men</td>
                        <td>AUS</td>
                        <td>vs</td>
                        <td>USA</td>
                        <td><button>view</button></td>
                    </tr>
                </table>
            
            </div>
            
            
<!-- ******* List all trophies for this sport -->
            <div class="listContainer">
                <div class="listTitle">
                    <h3>Event Trophies</h3>
                </div>
                <ul class="standardList">
                    <li><a href="eventtrophy.html">World Cup - Senior Men</a></li>
                </ul>
                <ul class="standardList inactive">
<!-- *******    click "+" to add a trophie to an event
                A trophie needs a division
                Ive called these 'event trophies' = trophies competed for at an event
                An eventtrophy can have results added manually. Results are independent from Matches so we dont have to build competition logic!
-->   
                    <li class="inactive">World Cup - Womens<a href=""><i class="fa fa-plus addmember"></i></a></li>
                    <li class="inactive">World Cup - U20 Womens<a href=""><i class="fa fa-plus addmember"></i></a></li>
                    <li class="inactive">World Cup - U20 Mens<a href=""><i class="fa fa-plus addmember"></i></a></li>
                </ul>
            
            </div>
            
            
            
    </body>
</html>